@import "tailwindcss";

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #031254;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin: 0px;
  padding: 20px;
}
