@import "tailwindcss";

html,
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

.tt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

main {
  flex: 1;
}

.header {
  background-color: #031254;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin: 0px;
  padding: 20px;
  padding-top: 0px;
}

.nav-bar {
  background-color: #031254;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.subhead {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #031254;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.text {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 20px 200px;
}

.input1 {
  text-align: center;
  margin-bottom: 50 px;
}

.input2 {
  padding: 10px;
  color: #031254;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.sub {
  border: solid;
  border-weight: 1px;
  border-radius: 16px;
  padding: 8px 20px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 20px;
}

.tableFormat {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  width: 80%;
}

.footer {
  background-color: #031254;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  padding: 7px;
  margin-top: 20px;
  text-align: center;
}
